$notification__height: 30px;
$notification__width: 100vw;

$left__height: calc(100vh - 30px);
$left__width: 300px;
$left__user__height: 16px;
$left__user__width: calc(300px - 40px);

$right__height: calc(100vh - 30px);
$right__width: calc(100vw - 300px);
$right__group__edit__button__height: 40px;
$right__log__height: calc(100vh - 100px - 90px);
$right__form__height: 90px;
$right__form__width: calc(100vw - 300px);
$right__form__text__width: calc(100% - 80px - 100px - 80px);
$right__form__submit__height: 50px;
$right__form__submit__width: 100px;
