.notification {
  width: 100vw;
  height: 30px;
  background-color: #38AEF0;
  text-align: center;
  color: white;
  position: fixed;
}

.left {
  float: left;
  background-color: #2F3E51;
  width: 300px;
  height: calc(100vh - 30px);
  padding-top: 30px;
  color: #FFFFFF;

  &__user {
    background-color: #253141;
    padding: 42px 20px;
    width: calc(300px - 40px);
    &__name {
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__groups {
    background-color: #2F3E51;
    &__group {
      color: #FFFFFF;
      padding: 0 20px;
      &:hover {
        background-color: red;
      }
      &__name {
        padding: 20px 0 5px;
      }
      &__message {
        padding: 0 0 20px;
      }
    }
  }
}

.right {
  float: left;
  width: calc(100vw - 300px);
  height: calc(100vh - 30px);
  padding: 30px 0 0;
  &__group {
    padding: 0 40px;
    border-bottom: solid;
    border-color: #EEEEEE;
    &__user {
      &__name {
        font-size: 20px;
        color: #333333;
        margin: 40px 0 15px;
      }
      &__members {
        ul {
          font-size: 12px;
          color: #999999;
          li {
            display: inline;
          }
        }
      }
    }
    &__edit {

    }
  }
  &__log {
    background-color: #AAAAAA;
    padding: 46px 40px 0;
    height: calc(100vh - 100px - 90px);
    &__name {
      font-size: 16px;
      font-weight: bold;
      color: #434A54;
      display: inline;
    }
    &__date {
      font-size: 12px;
      color: #999999;
      display: inline;
    }
    &__body {
      font-size: 14px;
      color: #434A54;
      padding: 0 0 40px;
    }
  }
  &__form {
    height: 90px;
    background-color: gray;
    position: fixed;
    width: calc(100vw - 300px);
    bottom: 0;
    &__text {
      height: 50px;
      width: calc(100% - 220px);
      margin: 20px 0 20px 40px;
      padding: 0 10px;
    }
    &__submit {
      background-color: #38AEF0;
      height: 50px;
      width: 100px;
      margin-right: 40px;
    }
  }
}
